RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http

RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

 <IfModule mod_headers.c>

 Header set Cache-Control "no-cache, no-store, must-revalidate"

 Header set Expires 0

 </IfModule>

ErrorDocument 404 /wip.html
ErrorDocument 403 /wip.html