/*

Index home page mobile stuff

*/

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      #nav-text{
        min-height: 125px;
      }
      nav > a{
        font-family: Arial;
        font-size: 65px;
      }
      #header-under-logo{
          font-size: 2.5vmax;
          min-width: 80%;
      }
      .background-image{
        height: 100vh;
      }
      #text-next-to-hab-image{
        padding-top: 25px; 
        width: 90%;
      }
      #text-next-to-hab-image > p{
        width: 100%;
        font-size: 26px;
      }
      #text-next-to-hab-image > h2{
          font-size: 30px;
      }
}