@font-face {
  font-family: "Exo";
  src: url(fonts/Exo.ttf) format("truetype");
}

@font-face {
  font-family: "Nasalization";
  src: url("fonts/nasa.woff2") format("woff2"),
    url("fonts/nasa.woff") format("woff");
}

@font-face {
  font-family: "Recursive";
  src: url(fonts/Recursive.ttf) format("truetype");
}

@font-face {
  font-family: "Catamaran";
  src: url(fonts/Catamaran.ttf) format("truetype");
}

/* @font-face {
  font-family: "NotoSansKRR";
  src: url(fonts/NotoSansKR-Regular.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "NotoSansKRR";
  src: url(fonts/NotoSansKR-Bold.otf) format("opentype");
  font-weight: bold;
}

@font-face{
  font-family: "NotoSansKRR";
  src: url(fonts/NotoSansKR-Light.otf) format("opentype");
  font-weight: lighter;
}

@font-face{
  font-family: "NotoSansKRR";
  src: url(fonts/NotoSansKR-Thin.otf) format("opentype");
  font-weight: 100;
} */

html {
  height: 100%;
  width: 100%;
}

body.blog {
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

nav {
  font-family: Exo, Arial;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  align-items: center;
  width: 30%;
}

h1 {
  font-family: Nasalization, Arial;
  font-weight: initial;
  font-size: 2vw;
}

h2 {
  font-family: Exo, Arial;
  font-weight: normal;
  font-size: 45px;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.15s;
}

section > p {
  font-size: 25px;
  font-family: Catamaran;
  color: white;
  font-weight: 100;
  width: 60%;
}

.about-section > p {
  color: black;
  font-family: Catamaran;
  margin: 0;
  width: auto;
  font-size: 24px;
}

.about-section > h2 {
  color: black;
  font-family: Catamaran;
}

.headshot-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 5px;
}

.headshot-section > h2 {
  font-family: Catamaran;
  color: #707070;
  margin: 0px;
  text-align: left;
}

section > h2 {
  font-size: 30px;
  color: #ca6865;
  text-align: center;
}

#nav-text {
  justify-content: flex-end;
}

#nav-text > :first-child {
  width: 70%;
}

#text-next-to-hab-image {
  width: 40%;
  height: 100%;
  padding: 25px;
  height: 75%;
  text-align: center;
}

#text-next-to-hab-image > p {
  width: 100%;
  font-size: 20px;
}

.background-image {
  height: 1100px;
}

section.contact-body > * > h2 {
  font-family: 'Noto Sans KR', Arial;
  color: #000000;
  height: fit-content;
  text-align: center;
}

.mobile-wrapper {
  height: 100%;
  width: 100%;
}

.send {
  background-color: #ffa3a3;
  border: #ffa3a3;
  cursor: pointer;
  border-radius: 5px;
}

.sent {
  background-color: transparent;
  border: transparent;
  cursor: text;
  border-radius: 5px;
}

#mobile-override {
  height: 100%;
  width: 100%;
}

form.contact-form > label {
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: large;
  text-align: center;
  cursor: text;
}

.error {
  color: red;
  cursor: text;
}

section.join-us{
  align-items: center;
}

.header-load-in{
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, .25);  
  box-shadow: 0px 10px 6px rgba(0, 0, 0, .15); 
}
@media screen and (min-width:0) and (min-resolution: +72dpi) { 
  .join-us{
    justify-content: space-between;
  }
}

.join-us > h1{
  font-family: Catamaran;
  text-align: center;
  font-size: 55px;
  color: black;
}

.join-us > h2{
  color: black;
  font-family: Catamaran;
  text-align: center;
  font-size: 50px;
}

#member-list{
  width: 50%;
  left: 25%;
}

main > section{
  margin: 0;
  padding: 0;
  border: none;
}

.transparent-header{
  background-color: transparent !important;
  box-shadow: none !important;
}

h1.join-us-header-text{
  color: #fff;
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 300;
}

a.join-us-nav-text{
  color: white;
}

.ie-flex{
  justify-content: space-around;
}

.why-join-us{
  display: grid;
  padding: 0px 150px 0px 150px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.why-join-us > section > h1{
  color: white;
  font-family: 'Noto Sans KR', Arial, Helvetica;
}

.join-us-image{
  height: 200px;
  position: relative;
  top: 50px;
  transition: opacity .4s ease-in, transform .4s ease-in;
  opacity: 0;
}

.join-us-in-view{
  opacity: 1;
  transform: translateY(-50px);
}

.join-us-reason{
  align-self: center;
  justify-self: center;
}

.join-us-reason > h1{
  text-align: center;
}

@supports not (-ms-ime-align: auto) {
  .ie-flex {
    justify-content: space-evenly
  }
}

.contact-header{
  font-family: 'Noto Sans KR';
}

@media (max-width: 1400px) {
  #nav-text {
    justify-content: center;
  }
  #nav-text > :last-child {
    width: 100%;
  }
  #nav-text > :first-child {
    width: 10%;
  }
  #header-under-logo {
    font-size: 2.5vmax;
    min-width: 75%;
  }
}

@media (max-width: 1300px) {
  #hab-balloon {
    display: none;
  }
  #text-next-to-hab-image {
    text-align: center;
    width: 60%;
    padding-top: 100px;
  }
  #text-next-to-hab-image > p {
    width: 100%;
    font-size: 16px;
  }
  #text-next-to-hab-image > h2 {
    font-size: 24px;
  }
  #member-list {
    width: 70%;
    left: 15%;
  }
  #member-list > p {
    font-size: 20px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

a:hover {
  color: #af130d !important;
}

.donate-body{
  background-color: #cc6565;
  height: 2300px;
}

.donate-main-picture{
  position: -webkit-sticky;
  position: sticky;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  top: 0px;
}
.donate-main-picture > h1, .donate-picture-left > h1{
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

.donate-picture-left{
  height: 25%;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}